body {
}
.d {
    width: 1200px;
    height: 615px;
    border-radius: 0;
    padding: 0;
}
.dossier {
    width: 395px;
    height: 480px;
}
img {
    /*border-radius: 15px;*/
}
.back {
    background-color: #ecf0f1;
    /*border-radius: 15px;*/
}
/* entire container, keeps perspective */
dossier {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.dossier:hover .flipper, .dossier.hover .flipper {
		transform: rotateY(180deg);
	}

.dossier, .front, .back {
	width: 395px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.owl-item {
    width: 395px;
}